.footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    padding-bottom: 40px;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #221dbe; /* Accent color */
  }
  
  .footer mat-icon {
    font-size: 24px;
  }
  
  .footer-copyright {
    margin-top: 10px;
    font-size: 14px;
  }
  