<app-driver-navbar></app-driver-navbar>
<div class="main">
  <div class="driver-dashboard-container">
    <div *ngIf="orders.length > 0; else noOrders">
      <div class="order-management-container">
        <h2>Your Assigned Orders</h2>
        <table class="orders-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Package Type</th>
              <th>Weight(in Kgs)</th>
              <th>Pickup Address</th>
              <th>Pickup Pincode</th>
              <th>Delivery Address</th>
              <th>Order Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order.id }}</td>
              <td>{{ order.packageType }}</td>
              <td>{{ order.packageWeight }}</td>
              <td>{{ order.pickupAddress }}</td>
              <td>{{ order.pickupPincode }}</td>
              <td>{{ order.deliveryAddress }}</td>
              <td>{{ order.orderStatus }}</td>
              <td>
                <button mat-button color="primary" (click)="openDialog(order)">Update Status</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noOrders>
      <p class="no-orders">You have no orders assigned. Please check back later!</p>
    </ng-template>
  </div>
</div>