.main{
  height: 100%;
}

.driver-dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .driver-dashboard-container h1, .driver-dashboard-container h2 {
    text-align: center;
  }
  
  .order-management-container {
    margin-top: 20px;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .orders-table th, .orders-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .orders-table th {
    background-color: #f2f2f2;
  }
  
  .orders-table td button {
    margin-right: 5px;
  }
  
  .no-orders {
    text-align: center;
    font-size: 18px;
    color: #888;
  }
  