<div class="main">
    <app-admin-navbar></app-admin-navbar>
    <div class="order-management-container">
      <h2>Order Management</h2>
      <table class="orders-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Order Placed Time</th>
            <th>Driver Id</th>
            <th>Package Type</th>
            <th>Package Weight</th>
            <th>Pickup Address</th>
            <th>Pickup Pincode</th>
            <th>Delivery Address</th>
            <th>Order Status</th>
            <th>delivery Time</th>
            <th>Update Order Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.placedTime | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>{{ order.driverId }}</td>
            <td>{{ order.packageType }}</td>
            <td>{{ order.packageWeight }}</td>
            <td>{{ order.pickupAddress }}</td>
            <td>{{ order.pickupPincode }}</td>
            <td>{{ order.deliveryAddress }}</td>
            <td>{{ order.orderStatus }}</td>
            <td>{{ order.deliveryTime | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>
              <button mat-raised-button color="primary" (click)="openDialog(order)" [disabled]="isDelivered(order)">Update Status</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  