.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0px 10px solid black; 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the form fields */
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.half-width {
  width: 47%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Spacing between fields */
}

mat-card-title{
  text-align: center;
}

#login {
  text-align: center;
  margin-top: 16px; /* Spacing above the login text */
}
