.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height for centering vertically */
  background-color: #f5f5f5; /* Optional: light background color */
}

mat-card {
  width: 100%;
  max-width: 400px; /* Limit the card's maximum width */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for better appearance */
}

.form {
  display: flex;
  flex-direction: column;
}

mat-card-title{
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Spacing between fields */
}

#signup{
  text-align: center;
}