.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  background-color: #f5f5f5;
  background: linear-gradient(#757fe7, #e66465);
}

mat-card {
  width: 100%;
  max-width: 440px;
  margin-top: -60px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important; 
}

.form {
  display: flex;
  flex-direction: column;
}

mat-card-title{
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Spacing between fields */
}

#signup{
  text-align: center;
}