/* driver-signup.component.css */

.signup-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105%;
  /* Adjust height as needed */
}

mat-card {
  width: 400px;
  /* Adjust card width as needed */
  padding: 20px;
  text-align: center;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 20px;
  width: 100%;
}

button {
  margin-top: 20px;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.half-width {
  width: 48%;
}

#login {
  text-align: center;
  margin-top: 16px; /* Spacing above the login text */
}