<app-customer-navbar></app-customer-navbar>
<div class="order-placement-container">
  <mat-card>
    <mat-card-title>Place New Order</mat-card-title>
    <br>
    <mat-card-content>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Package Type</mat-label>
          <mat-select formControlName="packageType">
            <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Package Weight (in kgs)</mat-label>
          <input matInput formControlName="packageWeight">
          <mat-error *ngIf="orderForm.get('packageWeight')?.invalid">Package weight is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pickup Address</mat-label>
          <input matInput formControlName="pickupAddress">
          <mat-error *ngIf="orderForm.get('pickupAddress')?.invalid">Pickup address is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pickup Pincode</mat-label>
          <input matInput formControlName="pickupPincode">
          <mat-error *ngIf="orderForm.get('pickupPincode')?.invalid">Pickup pincode is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Delivery Address</mat-label>
          <input matInput formControlName="deliveryAddress">
          <mat-error *ngIf="orderForm.get('deliveryAddress')?.invalid">Delivery address is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="orderForm.invalid">Place Order</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
