<div class="main">
  <app-customer-navbar></app-customer-navbar>
  <div class="feedback-container">
    <mat-card>
      <mat-card-title>Feedback</mat-card-title>
      <mat-card-content>
        <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">

          <mat-form-field appearance="fill">
            <mat-label>Order ID</mat-label>
            <input matInput formControlName="orderId">
            <mat-error *ngIf="feedbackForm.get('orderId')?.invalid">Order ID is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Feedback</mat-label>
            <textarea matInput formControlName="feedback"></textarea>
            <mat-error *ngIf="feedbackForm.get('feedback')?.invalid">Feedback is required</mat-error>
          </mat-form-field>

          <mat-form-field class="rating">
            <mat-label>Rating</mat-label>
            <mat-select formControlName="rating">
              <mat-option *ngFor="let type of types" [value]="type.value">{{type.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field> &nbsp; &nbsp; <b>/5</b>

          <button class="submit" mat-raised-button color="primary" type="submit">Submit Feedback</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>