.customer-dashboard-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  mat-card {
    width: 80%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  .order-info {
    display: flex;
    flex-direction: column;
  }
  
  .order-info h4 {
    margin: 0;
    font-size: 1.2em;
    color: #3f51b5;
  }
  
  .order-info p {
    margin: 5px 0;
  }
  
  .order-actions {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  
  .order-actions button {
    margin-top: 5px;
  }
  
  @media (min-width: 768px) {
    .order-actions {
      flex-direction: row;
    }
  
    .order-actions button {
      margin: 0 5px;
    }
  }
  
  .no-orders {
    text-align: center;
    color: #888;
    margin-top: 20px;
  }
  