<app-customer-navbar></app-customer-navbar>
<div class="customer-dashboard-container">
    <mat-card>
      <mat-card-content>
        <div *ngIf="orders.length > 0; else noOrders">
          <h3>Your Orders</h3>
          <mat-list>
            <mat-list-item *ngFor="let order of orders">
              <div class="order-info">
                <h4>Order ID: {{ order.id }}</h4>
                <p>Pickup Address: {{ order.pickupAddress }}</p>
                <p>Delivery Address: {{ order.deliveryAddress }}</p>
                <p>Status: {{ order.orderStatus }}</p>
              </div>
              <div class="order-actions">
                <button mat-button color="accent" (click)="trackOrder(order.id)">Track</button>
                <button mat-button color="warn" (click)="giveFeedback(order.id)">Feedback</button>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <ng-template #noOrders>
          <p>You have no orders. Place a new order to get started!</p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  