<div class="main">
  <app-customer-navbar></app-customer-navbar>
  <div class="order-tracking-container">
    <mat-card>
      <mat-card-title>Track Your Order</mat-card-title>
      <mat-card-content>
        <form [formGroup]="trackingForm" (ngSubmit)="onTrack()">
          <mat-form-field appearance="fill">
            <mat-label>Order ID</mat-label>
            <input matInput formControlName="orderId">
            <mat-error *ngIf="trackingForm.get('orderId')?.invalid">Order ID is required</mat-error>
          </mat-form-field>
          <div *ngIf="orderStatus" class="order-status">
            <p class="status">Order Status of {{id}}: <b>"{{ orderStatus }}"</b></p>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="trackingForm.invalid">Track</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>