.partners-container {
  height: 40%;
  background:
    url('../../../assets/driver.png') no-repeat,
    linear-gradient(#757fe7, #e66465);
  background-repeat: no-repeat;
  background-position: 80px 80px, 0 0;
  text-align: center;
  padding: 200px 200px;
}

mat-card {
  width: 400px;
  margin-left: 720px;
  box-shadow: 0 0 10px black;
  padding: 20px;
}

.partners-container h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.partners-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 7px 10px;
  border-radius: 5px;
  color: #000000;
  background-color: #757fe7;
  border: none;
  /* Ensure no default border */
  cursor: pointer;
  /* Add pointer cursor */
}

button:hover {
  color: #fff;
  background-color: #29343e;
  box-shadow: 0 0 8px black;
}