.main {
    background-color: #29343e;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 5px 2.6px;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

button {
    color: white;
}

.app-title{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}