<div class="admin-dashboard-container">
  <app-admin-navbar></app-admin-navbar>

  <div class="status">
    <div class="title">
      <h2 class="header">Current Status of Customers, Drivers and Orders</h2>
    </div>
    <div class="status-grid">
      <div class="status-item">
        <h3 class="status-title">2</h3>
        <p class="status-description">Customers</p>
      </div>
      <div class="status-item">
        <h3 class="status-title">2</h3>
        <p class="status-description">Current Orders</p>
      </div>
      <div class="status-item">
        <h3 class="status-title">1</h3>
        <p class="status-description">Orders deliveried</p>
      </div>
      <div class="status-item">
        <h3 class="status-title">2</h3>
        <p class="status-description">Drivers</p>
      </div>
    </div>
  </div>

</div>