<app-navbar></app-navbar>
<div class="main">
  <section class="features">
    <h3 class="heading"><b>FEATURES</b></h3>
    <ul>
      <li>
        <h4>Easy Order Tracking</h4>
        <p>Track your orders effortlessly with our user-friendly tracking system. Stay updated on the status of your
          deliveries in real-time.</p>
      </li>
      <li>
        <h4>Real-time Updates</h4>
        <p>Receive instant notifications and updates about your deliveries. Always know where your package is and when
          it
          will arrive.</p>
      </li>
      <li>
        <h4>Secure and Reliable</h4>
        <p>Your deliveries are safe with us. We ensure secure handling and timely delivery of your packages with the
          utmost reliability.</p>
      </li>
    </ul>
  </section>

  <div class="why">
    <div class="title">
      <h2 class="header">Why Choose Hyper Delivery Services?</h2>
    </div>
    <div class="features-grid">
      <div class="feature-item">
        <h3 class="feature-title">Door-to-door Services</h3>
        <p class="feature-description">Enjoy on-demand pickup &amp; delivery services at your doorstep</p>
      </div>
      <div class="feature-item">
        <h3 class="feature-title">Get Instant Deliveries</h3>
        <p class="feature-description">Get your documents, laptops, lunch boxes, forgotten keys or other small packages
          picked up and delivered instantly</p>
      </div>
      <div class="feature-item">
        <h3 class="feature-title">Get Anything Delivered</h3>
        <p class="feature-description">Be it a pen or multiple documents, send anything up to 20 kg anywhere across the
          city</p>
      </div>
      <div class="feature-item">
        <h3 class="feature-title">Reliable Same-day Delivery</h3>
        <p class="feature-description">Book two-wheeler delivery services online and get same-day delivery</p>
      </div>
    </div>
  </div>
</div>