<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a mat-button [routerLink]="['/privacy']">Privacy Policy</a>
      <a mat-button [routerLink]="['/terms']">Terms of Service</a>
      <a mat-button [routerLink]="['/contact']">Contact Us</a>
    </div>
    <div class="social-icons">
      <a href="https://twitter.com" target="_blank"><mat-icon>twitter</mat-icon></a>
      <a href="https://facebook.com" target="_blank"><mat-icon>facebook</mat-icon></a>
      <a href="https://instagram.com" target="_blank"><mat-icon>instagram</mat-icon></a>
    </div>
  </div>
  <div class="footer-copyright">
    &copy; 2024 Delivery Management System. All rights reserved.
  </div>
</footer>
