.hero {
  background-image: url('../../../assets/delivery.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px black;
}

.hero-content h1 {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 0.5em;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

button{
  padding: 7px 10px 7px 10px;
  margin: 270px;
  margin-left: 700px;
  border-radius: 0;
}
button:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(97, 152, 240);
}